<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Expecta.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>GGRest-GGRest.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>GGRest.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-GGRest_Example.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-GGRest_Tests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Specta.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0D888F29E05E498D0CD91A51D28599A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62EB7439F71475BF72A35DEE5D429BCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7488CE8FDE0379352BA8800A649A6F68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BCFF4E3834C424D91123B7BDFC46944</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD0F4E680712BDA711290C6BCC8B0B38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D644A2D033F58E7A53F4E9245C9AB668</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
